{%extends 'base.html'%}

{%block content%}
    <!-- Navbar Sections End  -->
    <!-- Navbar Sections End  -->
    <!-- Navbar Sections End  -->
    <!-- Home Section Stars  -->
    <!-- Home Section Stars  -->
    <!-- Home Section Stars  -->
    <section class="home" id="home">
        <div class="content">
            <h1>Password Manager with Blockchain Integration</h1>
            <p>
                Secure and simplify your digital life with our password manager, featuring cutting-edge blockchain
                technology.
                Enjoy fast and reliable access to all your passwords. Start your seamless experience today!
            </p>

            <a href="#" class="home-btn">get it on your device</a>
        </div>


        <div class="image">
            <img src="{{ url_for('static', filename='images/Start.png') }}" alt="start">
        </div>
    </section>
    <!-- Home Section Ends -->



    <!-- Features Section Stars -->
    <section class="features" id="features">
        <div class="heading">
            <h1>Features</h1>
            <p>
                Enhancing Security With Blockchain. Sync Passwords Across Devices For Easy Access. Secure, Fast And
                Reliable Digital Identity Management
            </p>
        </div>


        <div class="row">
            <!-- 1 Tab  -->
            <div class="image">
                <img src="{{ url_for('static', filename='images/PCT3.webp') }}" alt="PCT3">
            </div>


            <div class="content">
                <h1>Blockchain Security</h1>
                <p>
                    It uses advanced blockchain encryption to ensure your passwords are stored with unparalleled
                    security, protecting them from unauthorized access and breaches.
                </p>
                <a href="#" class="all-btn">more info</a>
            </div>

            <!-- 1 Tab  -->
            <!-- 2 Tab  -->
            <div class="content">
                <h1>One-Click Access:</h1>
                <p>
                    Access all your passwords instantly with one click. Our streamlined interface makes navigation and
                    password recovery easy.
                </p>
                <a href="#" class="all-btn">more info</a>
            </div>

            <div class="image">
                <img src="{{ url_for('static', filename='images/PCT4.webp') }}" alt="PCT4">
            </div>

            <!-- 2 Tab  -->

            <div class="image">
                <img src="{{ url_for('static', filename='images/PCT5.webp') }}" alt="PCT5">
            </div>

            <div class="content">
                <h1>Cross-Platform Synchronization</h1>
                <p>
                    Access all your passwords instantly with one click. Our streamlined interface makes it easy to
                    navigate and recover your password..
                </p>
                <a href="#" class="all-btn">more info</a>
            </div>


            <!-- 3 Tab  -->

        </div>
    </section>
  
    <!-- Features Section Ends -->

    <!-- Price Section Starts  -->

    <!-- Price Monthly Section Starts  -->
    <section class="price" id="price">
        <div class="heading">
            <h1>Price</h1>
            <p>Select the plan that suits you best and enjoy secure password management tailored to your needs</p>
        </div>

        <div class="price-container">
            <div class="actionButton-container">
                <button class="monthly-payments active">Monthly Payments</button>
                <button class="annual-payments">Annual Payments</button>
            </div>
            <div class="box-container">
                <div class="box month">
                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-Monthly">


                    <h3>Basic</h3>
                    <p>1 month</p>
                    <p class="price">$9.99</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>

                <div class="box month center-box">
                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-semiannual">



                    <h3>Stander</h3>
                    <p> 1 months </p>
                    <p class="price">$14.99</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>

                <div class="box month">

                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-annual">
                    <h3>Premium</h3>
                    <p>1 months</p>
                    <p class="price">$19.99</p>
                    <p>Best price for full access to all features.</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>

                <!-- Price Yearly Section Starts  -->

                <div class="box annual">
                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-Monthly">

                    <h3>Basic</h3>
                    <p>1 Year</p>
                    <p class="price">$99.99</p>
                    <p>The full amount will be paid at once.</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>

                <div class="box annual center-box">

                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-semiannual">

                    <h3>Stander</h3>
                    <p>1 Year</p>
                    <p class="price">$149.99</p>
                    <p>The full amount will be paid at once.</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>

                <div class="box annual">
                    <img src="{{ url_for('static', filename='images/Chains.png') }}" alt="logo-annual">



                    <h3>Premium</h3>
                    <p>1 Year</p>
                    <p class="price">$199.99</p>
                    <p>The full amount will be paid at once.</p>
                    <div class="button-container">
                        <a href="#" class="all-btn">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Price Yearly Section Starts  -->
    <!-- Price Section Ends -->
    <!-- Price Section Ends -->
    <!-- Price Section Ends -->
    <!-- Footer Section Starts  -->
    <!-- Footer Section Starts  -->
    <!-- Footer Section Starts  -->
{%endblock%}